@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Courgette);
@font-face {
    font-family: 'font_header';
    src: url('fonts/shangrala-webfont.eot');
    src: url('fonts/shangrala-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shangrala-webfont.woff') format('woff'),
         url('fonts/shangrala-webfont.ttf') format('truetype'),
         url('fonts/shangrala-webfont.svg#shangrilanfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:link {color: #DF3A01;}
a:visited {color: #DF3A01;}
/*Remove Borders around image links, IE*/
a img {
    border: 0;
}
body {
	padding:0px;
	margin: 0px;
	width: 100%;
	background-color: #CEECF5;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	font-size: 100%;
	min-width: 915px;
}
ul, ol, li {
	margin-left: 10px;
}
label{
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	width: 100px;
}
input {
	display: inline-block;
	float: left;
}
table{
	border-spacing: 15px 5px;
}
input[type="image"]{
	height: 50px;
	width: 110px; 
}
#rows2 .bounds{
	width: 40%;
}
#rows2 .pull{
	margin-top: 20px;
}
#squares{
	width: 800px;
	height: 560px;
	margin-left: auto;
	margin-right: auto;
}
#squares .bounds{
	padding-bottom: 10px;
	width: 397px;
	height: 250px;
	border-color: #4B610B;
	border-style: ridge;
	border-width: 2px;
	background-size: 100% 100%;
}
#squares p{
	margin: 0;
	padding: 0;
}
#squares .aspen{
	/* background: #E1F5A9; */
	background: url('images/green.png');
}
#squares .catkin{
	
	background: url('images/silver.png');
}
#squares .sun{
	
	background: url('images/yellow.png');
}
#squares .primrose{
	background: url('images/pink.png');
}
#squares img{
	margin-top: 15px;
}
#squares .notop {
	border-top: 0;
}
#squares .noleft {
	border-left: 0;
}
#rows{
	width: 100%;
	height: 200px;
	padding: 5px;
	margin: 5px;
}
#rows .bounds{
	width: 32%;
}
#rows img{
	margin-top: 28px;
}
#rows .pull{
	margin-top: 50px;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.leftf{
	float: left;
}
.rightf{
	float: right;
}
img.right {
	position: relative;
	float: right;
	top: 18px;
}
.error {
	border-color: red;
	border-width: 2px;
	border-style: ridge;
	background: #FE2E2E;
	font-size: .9em;
}
.bumpup {
	position: relative;
	top: -35px;
}
.center{
	text-align: center;
}
.centerfloat{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
table.center{
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	min-width: 200px;
}
table.center td{
	min-width: 100px;
	margin: 50px;
}
.centercontainer{
	float: left;
	position: relative;
	left: 50%;
}
.centerfixer{
	float: left;
	position: relative;
	left: -50%;
}
.block{
	display:block;
	width:800px;
	height:305px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.pull{
	margin-top: 200px;
}
.verticaldelay{
	position: absolute;
	top: 270px;
}
.quote{
	font-size: .6em;
	margin-left: -25px;
}
.fontreset{
	font-family: "Lucida Console", Monaco, monospace !important;
	font-size: .8em !important;
}
img.bold {
	padding:1px;
	border-color: #4B610B;
	border-style: outset;
	border-width: 10px;
}
.hide{
	display: none;
}
#header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	display: block;
	font-size: 2.5em;
	background-image: url(images/gradient.png);
	background-position: top left;
	min-width: 820px;
}
#header .logo {
	position: absolute;
	top: 10px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}
#header .title {
	font-family: font_header;
	font-size: 3em;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 20px;
	left: 335px;
	font-weight: normal;
}
#header .subtitle {
	font-family: font_header;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 130px;
	left: 390px;
	font-weight: normal;
}
#header .spacer {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 110px;
	left: 310px;
	width: 400px;
}
#navbar {
	position: relative;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background-color: #2A120A;
	background-image: url(images/navbg.png);
	background-repeat: repeat-x;
	background-position: top left;
	min-width: 895px;
}
#social {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 140px;
	width: 100%;
	min-width: 895px;
}
#social .container{
	position: relative;
	height: 40px;
	margin: 15px;
	padding: 0;
}
#social .youtube{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	right: 150px;
	background-image: url(images/icons/youtube.png);
}
#social .youtube:hover{
	background-image: url(images/icons/youtube_active.png);
}
#social .facebook{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	right: 100px;
	background-image: url(images/icons/fb.png);
}
#social .facebook:hover{
	background-image: url(images/icons/fb_active.png);
}
#social .plus{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	right: 50px;
	background-image: url(images/icons/plus.png);
}
#social .plus:hover{
	background-image: url(images/icons/plus_active.png);
}
#social .twitter{
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	right: 0;
	background-image: url(images/icons/twitter.png);
}
#social .twitter:hover{
	background-image: url(images/icons/twitter_active.png);
}
#content {
	border-style: ridge;
	border-color: #2A120A;
	padding: 20px;
	margin: 10px;
	width: 70%;
	min-width: 800px;
	max-width: 1800px;
	position: relative;
	top: 15px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/contentbg.png");
	background-size: 100% 100%;
	font-family: 'Courgette', cursive;
	font-size: 1.3em;
	text-align: justify;
}
#content .border{
	border-color: #4B610B;
	border-style: outset;
	border-width: 3px;
}
#content .text {
	width: 70%;
	padding-top: 0px;
}
#content .dropcap {
	font-size: 2.5em !important;
	position: relative;
	float: left;
	text-transform: uppercase;
	margin-left: 30px;
	line-height: .1;
}
#content .rightcontent{
	width: 30%;
	position: absolute;
	right: 0px;
	top: 180px;
}
#content .rightdiv{
	position: absolute;
	display: block;
	width: 30%;
	right: 0;
	top: 0;
	margin: 15px;
}
#content .offset{
	position: relative;
	left: 100px;
	width: 150px;
}
#total{
	position: absolute;
	right: 300px;
	top: 80px; /*Be sure to change JS value in reserve/commit too!*/
	width: 200px;
	min-height: 200px;
	background: url('images/silver.png');
	margin: 0;
	text-align: right;
}
#footer {
	position: relative;
	border-style: solid;
	border-color: #2A120A;
	padding: 20px;
	margin: 10px;
	width: 70%;
	min-width: 800px;
	max-width: 1800px;
	top: 1px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/gradient.png");
	background-size: 100% 100%;
	font-family: 'Courgette', cursive;
	font-size: 1.1em;
}
#footer .left {
	position: absolute;
	top: 10px;
	left: 20px;
}
#footer .right {
	position: absolute;
	top: 10px;
	right: 20px;
}
#footer .center {
	font-family: 'font_header';
	font-size: 1.6em;
	bottom: 0;
}
#imgcontainer {
	max-width:750px;
    	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	position: relative;
}
#imgcontainer ul {
	font-size:0;
	text-align:center
}
#imgcontainer ul li {
	display: inline;
        zoom: 1;
}
#imgcontainer .lbl {
	background-color: #ffffff;
	border-style: ridge;
	border-color: #000000;
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 202px;
	margin: 0px;
	padding: 0px;
}
#imgcontainer .lower {
	margin-left: -214px;
}
#imgcontainer .upper {
	margin-left: -26px;
}
#imgcontainer .honeymoon {
	margin-left: 134px;
}
/*Main menu*/
.menu * {
	margin:0;
	padding:0;
	outline:0;
}
.nav {
	height:36px;
	background:#aaa;
	color:#000;
	text-shadow:1px 1px #888;
	z-index:9999;
	background: url(images/navbg.png);
}
.menu a {
	float:left;
	color:#fff;
	text-decoration:none;
	width:125px;
	height:28px;
	padding-top:8px;
}
.menu span {
	float:left;
	color:#eee;
	text-decoration:none;
	width:125px;
	height:28px;
	padding-top:8px;
}
.menu {
	list-style:none;
	font:16px Arial,Verdana;
	text-align:center;
	width:875px;
	margin:0 auto;
}
.menu li {
	position:relative;
	float:left;
	width:125px;
	z-index:9999;
}
.menu ul li {
	float:none;
	border-top:1px solid #ccc;
	width:125px;
}
.overflow li {
	width:140px;
}
.overflow a {
	width:140px;
}
.overflow ul li {
	width:140px;
}
.short li {
	width:110px;
}
.short a {
	width:110px;
	margin-left: 15px;
}
.short ul li {
	width:110px;
}
.short ul {
	margin-left: 15px;
}
.short ul li a {
	margin-left: 0;
}
.menu a:hover{
	background: url('images/navhover.png');
	background-size: 100% 100%;
}
.menu ul {
	display:none;
	position:absolute;
	font:normal .8em Arial,Verdana;
	top:36px; left:0;
	background:#aaa;
	background: url('images/navul.png');
	background-size: 100% 100%;
	display:none;
	list-style:none;
}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {
	float:none;
	display:block;
	background:none;
	height:22px;
	padding-top:5px;
}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {
	background:#999;
	color:#000;
}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {
	float:none;
	display:block;
	background:none;
	height:22px;
	padding-top:5px;
	color: #000;
}
.menu ul ul {
	left:125px;
	top:0;
}
.menu ul li ul {
	color: #000;
}
.menu li.submenu {
	font-weight:bold;
}
.menu li.noborder {
	border-top:none;
}
li.menuhover span, li.menuhover li.menuhover span {
	color:#000;
	background:#999;
}
#info {
	width:180px;
	background:#eee;
}
#info li {
	width:160px;
	border-top:none;
	padding:8px 10px;
	color:#666;
	text-shadow:1px 1px #fff;
	text-align:left;
}

#slideshow{
	height: 400px;
	width: 100%;
	max-width: 840px;
	position:relative;
	margin:0 auto 0;
	padding: 0px;
	
}
#slideshow ul{
	height:400px;
	left:0px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:100%;
	margin:0;
	padding:0;
}
#slideshow li{
	margin: 0;
	position:absolute;
	display:none;
	z-index:10;
}
#slideshow li:first-child{
	display:block;
	z-index:1000;
}
#slideshow .slideActive{
	z-index:1000;
}
#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}
#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('images/arrows.png') no-repeat;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
	z-index:5000;
}
#slideshow .previous{
	background-position:left top;
	left:0;
}
#slideshow .previous:hover{
	background-position:left bottom;
}
#slideshow .next{
	background-position:right top;
	right:0;
}
#slideshow .next:hover{
	background-position:right bottom;
}

#slideshow img:first-child {
	width:100%;
	height:100%;
}

#slider{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:340px;
	margin:20px auto 0; /*default = 190*/
	position:relative;
	width:640px;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slider ul{
	height:320px;
	left:0px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:630px;
	margin:0;
	padding:0;
}

#slider li{
	position:absolute;
	display:none;
	z-index:10;
}

#slider li:first-child{
	display:block;
	z-index:1000;
}

#slider .slideActive{
	z-index:1000;
}

#slider canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slider .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slider .previous{
	background-position:left top;
	left:0;
}
#slider .previous:hover{
	background-position:left bottom;
}

#slider .next{ 
	background-position:right top;
	right:0;
}
#slider .next:hover{ 
	background-position:right bottom;
}
#carousel{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	padding-right: 8px;
	width: 800px;
	color: #fff;
	font-weight: bold;
}
#carousel .prev{
	position: absolute;
	left: 20px;
	top: 48%;
	background-color: rgba(000,000,000,0.40);
	cursor: pointer;
	z-index: 10;
}
#carousel .next{
	position: absolute;
	right: 20px;
	top: 48%;
	background-color: rgba(000,000,000,0.40);
	cursor: pointer;
	z-index: 10;
}
#recipe{
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	height: 650px;
	width: 800px;
	background: url('images/recipebg.png') no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
#recipe h1, #recipe h2, #recipe h3, #recipe h4, #recipe h5, #recipe h6 {
	padding: 0;
	margin: 0;
}
#recipe a{
	display: block;
	position: absolute;
}
#recipe p{
	margin-bottom: 0;
	margin-top: 12px;
	padding: 0;
}
#recipe img.center{
	position: relative;
	top: 95px;

}
#recipe img.top{
	position: relative;
	left: 35px;
	top: 10px;
}
#recipe img.bottom{
	position: relative;
	top: -7px;

}
#recipe ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
}
#recipe #text{
	position: relative;
	left: 5px;
	top: 80px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	height: 520px;
	width: 730px;
}
#recipe .leftcontent{
	text-align: left;
	float: left;
	top: 0;
	width: 325px;
	height: 520px;
}
#recipe .rightcontent{
	text-align: left;
	float: right;
	top: 0;
	width: 325px;
	height: 520px;
}
#recipe .leftarrow{
	position: relative;
	left: -320px;
	top: 470px;
}
#recipe .rightarrow{
	position: relative;
	left: 340px;
	top: 470px;
}
#recipe .rightarrow{

}
#food {
	margin-left: auto;
	margin-right: auto;
	height: 1100px;
	width: 550px;
	background: url('images/foodbg.jpg') no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
#food .text{
	position: absolute;
	top: 380px;
	margin-left: 100px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px;
	width: 350px;
	text-align: left;
}
#food h1, #food h2, #food h3, #food h4, #food h5, #food h6 {
	padding: 0;
	margin-bottom: 0;
	margin-top: 12px;
}
#food ul, #food li {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style-type: none;
}
#food .container{
	position: relative;
	height: 1100px;
	width: 550px;
}
#food .desc{
	position: absolute;
	top: 0;
	right: 20px;
	text-align: right;
}
